/* Centrar todo el contenido */
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f3f4f6;
  animation: fadeIn 1s ease-in-out;
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilo del icono SVG */
.error-icon {
  margin-bottom: 20px;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Estilo del mensaje de error */
.error-message {
  font-size: 28px;
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo del botón */
.error-button {
  padding: 12px 30px;
  background-color: #e74c3c;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Cambiar color y agrandar el botón al pasar el cursor */
.error-button:hover {
  background-color: #c0392b;
  transform: translateY(-3px);
}

/* Estilo del enlace dentro del botón */
.link {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* Efecto de sombra al hacer foco en el enlace */
.link:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
